/* 
    Document   : ReporteStyle
    Created on : Jan 29, 2014, 12:07:25 AM
    Author     : Cesar Favela
    Description:
        Purpose of the stylesheet follows.
*/

ui.reporte th,tr,td,table { 
    border: 0 !important;
}

