/*body{ 
    background-color: whitesmoke !important;pinta el lienzo de verde
    margin: 1.2%;Disminiuye la pagina en %
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}*/

.btnCONS{
    margin-top: -100px !important;
    /*margin-bottom: -100px !important;*/
    margin-left: 190px !important;
    padding-top: -100px !important;
    /*padding-bottom: -100px !important;*/
}

.lblUsu{
    margin-top: 0px !important;
    margin-left: 20px !important;
}

.lblRol{
    margin-top: 0px !important;
    margin-left: 20px !important;
}

/*.formulario{
    position: relative;
    left: 20px;
}

.ui-fieldset{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #007040;
    border-color: white;
    position: relative;
    -webkit-box-shadow: 5px 5px 20px 2px #011201;
    box-shadow: 5px 5px 20px 2px #011201;
}

myFieldset .ui-fieldset, .ui-fieldset .ui-fieldset-legend {

    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color: #48413B;
    background-color: #F1A733;
    border-color: transparent;
}
.ui-panelgrid td
.ui-panelgrid{
    margin-top: 25px;
    border-spacing: 10px;
    border-collapse: inherit;
    height: 100px;
    background: none;
    border-bottom: 5px solid  #F1A733 !important;

}
.ui-panelgrid tr, .ui-panelgrid td{
    border: none;
    background-color: white;
    color: #48413B;   
    border-color: #007040;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}
td{
    padding: 5px !important;
}
.chicanada{
    color: #F1A733;
    -webkit-border-radius: 0px 20px 0px 0px;
    border-radius: 0px 20px 0px 0px;
    position: relative;
    height: 75px;
    box-shadow: inset 0px 10px 9px -6px #696969;
}
select{
    color: #48413B;
    width: 325px;
}
.ventana{
    background-color: #007040;
}

.ventana .ui-dialog-titlebar{
    background: #F1A733 !important;
}
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}

li.ui-selectonemenu-item{
font-size:12px;
}

.ui-button-text {
    width: 150px;
    background-color: #F1A733;
}
.ui-button-text-only .ui-button-text {
    font-size: 9pt; 
    color: black;
}

.avance{
    color: #F1A733;
    -webkit-border-radius: 0px 20px 0px 0px;
    border-radius: 0px 20px 0px 0px;
    position: relative;
    height: 85px;
    box-shadow: inset 1px 10px 9px -6px #696969;
    border-bottom: 1px solid #ccc;
}

.ui-treetable .ui-treetable-header, div.wicket-tree{
    background-color: #F1A733;
}

.esquina{
    -webkit-border-radius: 20px 0px 0px 0px;
    border-radius: 20px 0px 0px 0px;
    box-shadow: inset 1px 10px 9px -6px #696969;
}

h3{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: bolder;
    color: #F1A733;
}

.observacion{
    width: 200px;
    margin: 0;
    padding: 1px;
    border-color: #F1A733;
}

treeTab .ui-treetable-titlebar{
    border-color: #F1A733;
}

.renglones{
    border-color: #F1A733;
}
.ui-icon-triangle-1-e{
      width: 55px;
      height: 55px;
 }

.ui-treetable {
    max-width: 1200px;
    background: #007040 !important;
}

 .borderless thead tr .ui-state-default[role="columnheader"] { 
     background :#F1A733 !important;
 }
 
 .columnas{
     background: #fcffa3;
 }*/